<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>

        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{ISO8601} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>


        <RollingFile name="FileLogger"
                     fileName="logs/auth_app.log"
                     filePattern="logs/app-%d{yyyy-MM-dd}.log.gz">
            <PatternLayout>
                <Pattern>%d{ISO8601} %-5p [%X{requestId}] [%X{userId}] %c{1} - %m | path=%X{path} method=%X{httpMethod} ip=%X{clientIp}</Pattern>
            </PatternLayout>
            <Policies>
                <!-- Rotation chaque jour -->
                <TimeBasedTriggeringPolicy interval="1"/>
                <!-- Rotation si > 10 Mo -->
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileLogger"/>
        </Root>
    </Loggers>
</Configuration>
